* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    height: 80vh;
    background-image: url("workpls.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.info {
    width: 90vw;
    height: 25vh;
    
    
}

.instructions {
    margin: 5px;
    padding: 10px;
    width: 90vw;
    
    
}

.words {
    width: 90vw;
    margin: 5px;
    padding: 10px
    
    
}

.moreBox {
    display: flex;
    
}

.phoneNum {
    width: 30vw;
    height: 30px;
    background-color: yellow;
    font-size: 20px;
    border-radius: 2px;
    margin: 10px;
    padding: 5px;
    background-color: rgba(0,0,0,0.15);

}

#resetBtn{
    color: white;
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    padding: 5px 10px;
    margin: 10px;
    
    background-color: black;


}

#moreBtn{
    color: white;
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    padding: 5px 10px;
    margin: 10px;
    
    background-color: black;
    

}


.game {
    width: 90vw;
    height: 100vh;
    display: flex;
    margin: 2vw;
    padding: 0;
    flex-wrap: wrap;
    perspective: 1000px;
    justify-content: center;
    
    
}

.card {
    width: calc((756px)*0.15);
    height: calc((1057px)* 0.15);
    margin: 5px;
    border-radius: 4px;
    position: relative;
    
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.back, .front {
    
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 4.5px;
    
    backface-visibility: hidden;
}

.front{
    transform: rotateY(180deg);
    background-color: aliceblue;
}

.card.flip {
    transform: rotateY(180deg);
}

img {
    object-fit: contain;
}