html {
    box-sizing: border-box;
}

body {
    background-color: maroon;
    color: white;
}

.box {
    position: absolute;
    width: 50%;
    top: 5%;
    left: 25%;
}

header {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
}

.insults {
    padding: 20px 50px;
    min-height: 200px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.insult-text {
    padding-bottom: 20px;
    font-size: 25px;
    text-align: center;
}

.controls {
    width: 100%;
    
}

.button {
    display: block;
    color: rgba(0,0,0,0.5);
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.ranking {
    text-align: center;
    padding: 0;
    margin: 0;
}

.displayed-image {
    width: 50%;
    height: 50%;
    position: relative;
    left: 25%;
    object-fit: contain;
    box-sizing: border-box;

}



li {
    list-style-type: none;
}