body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition-property: background-color;
    transition-duration: 2s;
    transition-delay: 0.25s;
    
}

#box1:hover{
    background-color: purple;
}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation-duration: 4s;
    animation-name: box2move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes box2move{
    from {
        margin-left: 100%;
        width: 300%;
    }
}