#title{
    color: black;
    text-align: center;
}

#Name{
    color: black;
    text-align: left;
}

#Rings{
    color: black;
    text-align: left;
}

#Atmosphere{
    color: black;
    text-align: left;
}

nav {
    display: block;
}
nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}
nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

.picOne{
    text-align: left;
    display: block;
    float: right;
    background-color: LightGrey;
    padding: 10px;
}

.picTwo {
    float: left;
    display: block;
    padding-right: 10px;
}