
.article{
    background-image: url("rio3.jpg"), url("scoreforreal.jpg"), url("simone.jpg");
    background-repeat: no-repeat;
    background-size: 10% 10%, 100% 30%, 100% 100%;
    background-position: top left, bottom left, left;
    height: 150vh;
    width: 65vw;
    margin: 0;
    padding: 0;
    border: black;
}

.gold{
    background-color: goldenrod;
    position: absolute;
    top: 0;
    left: 6.5vw;
    width: 57.45vw;
    height: 5vh;
    margin: 1vh;
    padding: 0.5em;
    line-height: 2em;
}
